.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.header-margin{
  margin-bottom: 30px;
}

.App-header {
  background-color: #e5e5e5;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*button search*/
.searchbox.jsx-1671817932 {
    height: 40px;
    width: 303px;
    margin-top: 8px;
    padding-left: 35px;
    border-radius: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(216, 216, 216);
    border-image: initial;
}
.m_r\:30 {
    margin-right: 30px;
}

.blackSreach{
  font-size: 22px;
  color: #000000;
  margin-left: 12px;
  position: absolute;
  margin-top: 17px;
  margin-right: 5px;
}

/*button search*/

/*container*/
.containerbaru{
  margin-top:60px; 
}

.cards{
   margin-left: 15px;
   margin-right: 15px;
   margin-top: 15px;
   margin-bottom: 15px;
}

.hoverdiv{

}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 65%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

.hoverdiv:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.margin_button{
  margin-bottom: 20px;
}


.ImageHome{
  margin-top: 200px;
  width: 340px;
  height: 60px;

}

.ImageHomeNotFound{
  margin-top: 170px;
  margin-bottom: 20px;

}

.texthasil{
  margin-top: 50px;
  margin-bottom: 10px;
}

.hitung{
  margin-top: 15px;
}
/*container*/
